<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragment/header :: head(~{:: #css-title})">
    <th:block id="css-title">
        <link rel="stylesheet" type="text/css" th:href="@{/css/dudoanchuyengia.css}">
        <title>Document</title>
    </th:block>
</head>
<body>
<header th:replace="fragment/header :: header"></header>
<div class="container">
    <div class="displaynone row">
    </div>
</div>
<main class="container mt-5">
    <div class="main">
        <div class="section-left">
            <p class="font-weight-bold">Góc chuyên gia</p>
            <h2 class="mt-1">Nhận định bóng đá Ngoại Hạng Anh - Dự đoán tỷ số Ngoại Hạng Anh</h2>
            <div class="blocks d-flex justify-content-end mt-3" style="border-bottom: 2px solid #D4D4D4;">
                <button class="p-2">Bóng đá<i class=" ml-3 fas fa-chevron-down"></i></button>
            </div>
            <div class="main-news d-flex justify-content-between flex-md-row flex-column mt-4 mb-5 w-100">
                <a href="#" class="highlight mb-md-0 mb-3">
                    <img src="../../static/images/dudoanlivman.jpg" class="w-100" alt="">
                    <h4 class="mt-2">Dự đoán Liverpool vs Man City (23h30 10/11) bởi Craig Bellamy</h4>
                </a>
                <div class="d-flex flex-column justify-content-between h-100 not-highlight">
                    <a href="#" class="mb-1">Dự đoán MU vs Brighton (21h 10/11) bởi Paul Scholes</a>
                    <a href="#" class="mb-1">Tỷ lệ bóng đá Ngoại hạng Anh hôm nay 10/11: MU vs Brighton</a>
                    <a href="#" class="mb-1">Nhận định bóng đá Liverpool vs Man City, 23h30 ngày 10/11: Không chỉ là vị
                        trí nhì bảng</a>
                    <a href="#" class="mb-1">Nhận định bóng đá Wolves vs Aston Villa, 21h ngày 10/11: Tiếp tục chia
                        điểm</a>
                    <a href="#" class="mb-1">Nhận định bóng đá Man Utd vs Brighton, 21h ngày 10/11: Đến lúc phải thắng
                        trên sân nhà</a>
                    <a href="#" class="mb-1">MU vs Brighton (21h 10/11): Test ‘công thức chiến thắng’ ở Ngoại hạng
                        Anh</a>
                </div>
            </div>
            <div class="other-news">
                <a href="#" class="pb-4 d-flex mt-4 justify-content-between flex-md-row flex-column"
                   style="border-bottom: 1px solid #C4C4C4;">
                    <img src="https://media.bongdanet.vn/application/admin/w150/09.01.2020/Ket_qua_doi_dau_Arsenal_vs_Crystal_Palace.jpg"
                         alt="">
                    <div>
                        <h5>Kết quả đối đầu Crystal Palace vs Arsenal: Pháo thủ chiếm tiên cơ</h5>
                        <div class="d-flex align-items-center font-weight-bold" style="color: #C4C4C4;"><i
                                class="fas fa-user-circle"></i>
                            <p>Bóng tròn - 09/01 11:15</p></div>
                        <p class="content mt-md-3 mt-2">Thông tin về kết quả đối đầu giữa Crystal Palace và Arsenal
                            trước thềm vòng 22 Ngoại hạng Anh</p>
                    </div>
                </a>
                <a href="#" class="pb-4 d-flex mt-4 justify-content-between flex-md-row flex-column"
                   style="border-bottom: 1px solid #C4C4C4;">
                    <img src="https://media.bongdanet.vn/application/admin/w150/08.01.2020/Leicester-vs-Southampton.jpg"
                         alt="">
                    <div>
                        <h5>Nhận định Leicester vs Southampton, 22h00 ngày 11/1: Bầy cáo quá tải</h5>
                        <div class="d-flex align-items-center font-weight-bold" style="color: #C4C4C4;"><i
                                class="fas fa-user-circle"></i>
                            <p>Quang Việt - 08/01 22:32</p></div>
                        <p class="content mt-md-3 mt-2">Phong độ đang ổn định nhưng lịch thi đấu dày đặc hiện nay là rào
                            cản đáng kể dành cho Leicester City.</p>
                    </div>
                </a>
                <a href="#" class="pb-4 d-flex mt-4 justify-content-between flex-md-row flex-column"
                   style="border-bottom: 1px solid #C4C4C4;">
                    <img src="https://media.bongdanet.vn/application/admin/w150/08.01.2020/MU-vs-Norwich.jpg" alt="">
                    <div style="width: 68%;">
                        <h5>Nhận định MU vs Norwich, 22h00 ngày 11/1: Đáng sợ kẻ đường cùng</h5>
                        <div class="d-flex align-items-center font-weight-bold" style="color: #C4C4C4;"><i
                                class="fas fa-user-circle"></i>
                            <p>Thanh Sang - 08/01 21:54</p></div>
                        <p class="content mt-md-3 mt-2">Xếp cuối bảng nhưng Norwich nhận được đánh giá tích cực từ giới
                            chuyên môn trước chuyến hành quân đến Old Trafford hôm nay.</p>
                    </div>
                </a>
                <a href="#" class="pb-4 mt-4 justify-content-between flex-md-row flex-column disnone"
                   style="border-bottom: 1px solid #C4C4C4;">
                    <img src="https://media.bongdanet.vn/application/admin/w150/09.01.2020/Ket_qua_doi_dau_Arsenal_vs_Crystal_Palace.jpg"
                         alt="">
                    <div>
                        <h5>Kết quả đối đầu Crystal Palace vs Arsenal: Pháo thủ chiếm tiên cơ</h5>
                        <div class="d-flex align-items-center font-weight-bold" style="color: #C4C4C4;"><i
                                class="fas fa-user-circle"></i>
                            <p>Bóng tròn - 09/01 11:15</p></div>
                        <p class="content mt-md-3 mt-2">Thông tin về kết quả đối đầu giữa Crystal Palace và Arsenal
                            trước thềm vòng 22 Ngoại hạng Anh</p>
                    </div>
                </a>
            </div>
            <button class="shows mt-5 mb-5">Hiện thêm</button>
        </div>
        <div class="side-news"></div>
    </div>
</main>
<footer th:replace="fragment/footer :: footer"></footer>
</body>
</html>